.blogContainer {
    background: url("/blogbg.svg") no-repeat;
    min-height: 100dvh;
    width: 100%;
    /* position: fixed; */
    background-attachment: fixed;
    padding: 2em;
    padding: 1.5em 8em;

    .blogbanner {
        backdrop-filter: url(filters.svg#filter) blur(4px);
        background: url("/blogbanner.svg") no-repeat;
        min-height: 40dvh;

        border-radius: 30px;

        background-color: #00000096;
        background-blend-mode: multiply;
        color: white;
        padding-left: 8em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 3em;
        }

        p {
            max-width: 70%;
            font-weight: 300;
        }

        ;

    }

    .blogCards {
        display: flex;
        /* flex: 1; */
        margin-top: 4em;
        gap: 20px;
        flex-wrap: wrap;
        /* justify-content: space-between; */

        .card {
            cursor: pointer;
            background-size: cover;

            clip-path: polygon(50% 10px, 100% 0, 100% 100%, 0 100%, 0 0);
            width: 23%;
            background-color: #00000096;
            background-blend-mode: multiply;
            /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 21%, rgba(0, 0, 0, 1) 100%); */
            display: flex;
            position: relative;
            border-radius: 25px;
            box-shadow: #00000025 0px 4px;

            .blogImg {
                border-radius: 25px;
                width: 100%;
                filter: brightness(0.85);

            }


        }

        .textArea {
            padding: 1em;
            width: 100%;
            position: absolute;
            /* top: 0; */
            bottom: 0;
            align-self: flex-end;
            color: white;
            z-index: 10;

            .blogName {
                margin-bottom: 1em;
                text-transform: capitalize;
            }

            .description {
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .logo {
        display: none;
    }

    .blogContainer {
        padding: 1em;
        padding-top: 5em;

        .blogbanner {
            padding: 25px;
            min-height: 25px;

            p {
                max-width: 100%;
                margin-top: 0.7em;
            }
        }

        .blogCards {
            justify-content: space-between;

            .card {
                width: 45%;
                min-height: 25dvh;
            }
        }
    }
}