.leftBottomBg {
    position: absolute;
    left: 0;
    bottom: 0;
}

.addProductsContainer {
    display: flex;
    flex-shrink: 1;
    height: 90%;
    align-items: center;
    justify-content: space-around;

    .imgContainer {
        width: 25%;
        position: relative;
        cursor: pointer;

        img {
            padding: 5em;
            border: 1px solid;
            backdrop-filter: blur(13px);
            border-radius: 30px;


        }

        label {
            position: absolute;
            bottom: 2em;
            left: 0;
            right: 0;
            text-align: center;

        }
    }

    .form {
        width: 50%;

        .row {
            .col {
                flex-basis: 50%;
            }
        }

        .requirement {
            .name {
                font-size: 0.85em;
                margin-bottom: 0.6em;
                padding-left: 0.1em;
                font-weight: 400;
            }

            .requirementInput {
                width: 100%;
                color: white;
                background: transparent;
                border: 1px solid #ffffff29;
                border-radius: 6px;
                padding: 0.9em 0em 0.9em 0.5em;
                font-family: inherit;
            }
        }

        .uploadBtn {
            background: rgb(18, 45, 24);
            background: linear-gradient(35deg, rgba(18, 45, 24, 1) 0%, rgba(18, 44, 25, 1) 98%);
            width: 100%;
            padding: 1.2em 0.5em;
            /* border: 1px solid #ffffff29; */
            margin-top: 1em;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 0.8em;
            cursor: pointer;
            border-radius: 8px;
        }
    }


}

@media screen and (max-width: 990px) {
    .addProductsContainer {
        flex-direction: column;

        .form {
            width: 100%;
        }

        .imgContainer {
            margin-top: 2em;
        }

        .imgContainer,
        .leftBottomBg {
            width: 100%;
        }
    }

}